


/*menu*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  color:#262E5F;
}

li a {
  display: block;
  color:#262E5F
  text-align;center;
  padding:16px;
  text-decoration:none;
}


li a:link{
  color: #262E5F;
}

li a:visited{
  color: #262E5F;
}


li a:hover {
  color:white ;
}

/*Quiz page style*/
    body {

    
    align-items: center;
    }
    
    #main {
    width: auto;
    height: auto;
    border: 1px gray solid;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    color:whitesmoke;
    font-family: sans-serif;
    
    }
    
    #header {
    margin-top: 0;
    padding-top: 10px;
    height: 260px;
    background:#FFD205 ;
    background-image:url(lickingdog.gif);
    background-repeat: no-repeat;
    background-position: center;
    color:#262E5F;
    text-align: center;
   
    }



    .grid-container {
      display: grid;
      grid-template-columns: 445px 445px 445px;
      grid-template-rows: auto auto auto;
      gap: 5px;
      padding: 10px;
      
     
    }
    
    .grid-container > div {
      background-color: #262e5f7a;
      text-align: left;
      padding: 20px;
      font-size: 20px;
      border-radius: 20px;
    }

    #div{
      
      background-color:rgba(0,0,0,0);
    }

    .button-container {

      text-align: center;
    }


    
/*answers*/
label {
    width: 150px;
    color: #262E5F;
    padding: 20px;
  }


/*button style*/
.button{
align-content: center;
margin-top: 20px;
font-size:30px;
padding: 30px;
border-radius: 20px;
color:#262E5F;
background-color: #FFD205;
cursor: pointer;
font-family: sans-serif;
}

button:hover{
  background-color: #262E5F;
  color: #FFD205;

}

/*Style text*/

p {
  font-size: 20px;
  color:#262E5F;
  font-family: sans-serif;
  text-align: center;
}
h1{
  margin-top: -10px;
  font-family: sans-serif;
  
  
}



h3{
  color: #262E5F;
  
}
